.Search-Container {
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.05);
    overflow: hidden;
}
.Search-Container .Search-Container-Header {
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.Search-Container .Search-Container-Header h1 {
    font-size: 1.5rem;
}

.AdsType-Header {
    border-bottom: .5px rgba(220, 20, 60, .25) solid;

    padding:15px;
    color: #2a2a2a;
}
.AdsType-Header h2{
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
}


.Search-Container .AdsType .AdsType-Data {
    width: 100%;
    /* margin-top: 10px; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: block;
    padding-top: 5px;

    overflow: hidden;

}
.Search-Container .AdsType .AdsType-Data-Inactive {
position: absolute;
width: 0px;

    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: block;
    overflow: hidden;

}

.Search-Container .AdsType .AdsType-Data .AdsType-Data-Value {
    background-color:  rgba(256, 256, 256, 1);
    padding: 0px;
    margin: 0px;
    border-bottom: .5px rgba(256,256,256,.5) solid;
    /* margin-bottom: 10px; */
    padding: 5px 0px;

    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    border-radius: 0px;
    width: 100%;
    transition: all .2s ease;
    align-items: center;
}
.Search-Container .AdsType .AdsType-Data .AdsType-Data-Value h4{
    font-weight: 500;
    text-transform: capitalize;
    color: #646464;

    


}

.Search-Container .AdsType .AdsType-Data .AdsType-Data-Value:hover *{
    cursor: pointer;
    color: #fff;
    color: rgba(220,20,60,.75);
}

.Search-Container .AdsType .AdsType-Data .AdsType-Data-Value h4 {
    padding: 0px;
    margin: 0px;
}

.Search-Container .AdsType .AdsType-ActiveData {
    background-color:  rgba(256,256,256, .75);
    color: #2A2a2a;
    padding: 0px;
    margin: 0px;
    border-top: .5px rgba(220,20,60,.5) solid;
    border-bottom: .5px rgba(220,20,60,.5) solid;

    
    display: flex;
    justify-content: flex-start;
    transition: all .2s ease-in-out;
    width: 100%;
    border-radius: 0px;
    padding-left: 5px;

}

.Search-Container .AdsType .AdsType-ActiveData h4 {
    padding: 0px;
    margin: 0px;
    padding:10px 0px;
    padding-left: 10px;
}

.Search-Container .AdsType .AdsType-ActiveData .icon {
    position: absolute;
    right: 15px;
    display: flex;
    font-size: 1.5rem;
    transform: rotateZ(180deg);
}

.Search-Container .AdsType .AdsType-ActiveData:hover {
    cursor: pointer;
}

.Search-Container .AdsType .AdsType-ActiveData:checked .icon {

    transform: rotateZ(0deg);
}